table.dataTable {
    td a.edit {
        color: #ffc107;
       
    }
    td a.edit_group {
        color: #ffc107;
        display: flex;
        align-items: center;
    }
    th {
    }
    td {
        &:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }
    }
}
