.reset_action {
    margin-top: 27px;
}

.file-upload-content {
    display: none;
    text-align: center;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed $primary;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: $primary;
    color: $white;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}
.image-upload-wrap:hover .drag-text h3{
  color: $white;
}
.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #101110;
    padding: 60px 0;
}

.file-upload-image {
    max-width: 100%;
}

.remove-image {
    margin: 0;
    color: #b02818;
    border: none;
    padding: 10px;
    border-radius: 21px;

    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 0px;
    i {
        font-size: 20px;
        background: transparent;
    }
    &:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all 0.2s ease;
        cursor: pointer;
    }
    & :active {
        border: 0;
        transition: all 0.2s ease;
    }
}
